@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-weight: 600;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

:root {
  --black: #3E3E3E;
  --green-text: #2C682E;
}

body {
  background-color: var(--black);
}



/*----*/


.page {
  display: block;
  position: fixed;
  width: 100%;
  height: 100dvh;
  background: var(--black);
  transition: all .3s;
}


/*SIGN*/

.sign-in-page,
.sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100dvh;
  width: 100%;
  padding-bottom: 100px;
  transition: all .3s;
}

.sign-conteiner form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 90%;
  max-width: 450px;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 4px 10px 0 #00000038;
  padding: 40px 30px;
  max-height: 480px;
}

.sign-conteiner form h2 {
  font-weight: lighter;
}

.sign-conteiner form .inputs-div {
  margin-top: 50px;
}

.sign-conteiner form .inputs-div input {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 200px;
  border: 2px solid #fff;
  padding: 0 15px;
  margin: 20px 0;
  background-color: transparent;
}

.sign-conteiner form button {
  display: block;
  height: 35px;
  width: 120px;
  margin-left: auto;
  border-radius: 20px;
  padding-top: 5px;
  cursor: pointer;
}

.sign-conteiner .footer * {
  font-weight: 300;
}

.sign-conteiner .footer {
  display: flex;
  gap: 10px;
  width: 90%;
  max-width: 450px;
  font-size: 13px;
  translate: 0 50px;
  cursor: pointer;
}

.sign-conteiner .footer .p1 {
  color: rgba(255, 255, 255, 0.6);
}



.home-page nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 15px;
}

.home-page h1 {
  font-weight: 300;
  letter-spacing: 12px;
  font-size: 20px;
  line-height: 35px;
  width: auto;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  margin-right: 20%;
}

.home-page .profile-button {
  translate: 0 5px;
  cursor: pointer;
}

.home-page .menu-conteiner {
  position: absolute;
  left: 50%;
  top: 45%;
  translate: -50% 0;
}

.home-page .menu-conteiner ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.home-page .menu-conteiner ul * {
  color: var(--green-text);
}

.home-page .menu-conteiner ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 25px;
  width: 240px;
  height: 42px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  font-size: 12px;
  cursor: pointer;
  transition: all .2s;
}

.home-page .menu-conteiner ul li:active {
  scale: .99;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}




.aside-page {
  --aside-page-height:45px;
  translate: 100% 0;
  box-shadow: -10px 0 50px 0 rgb(0, 0, 0, 0.2);
  padding-top: var(--aside-page-height);
  text-align: center;
}

.aside-page nav {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: var(--aside-page-height);
  top: 0;
  left: 9;
}

.aside-page nav button{
  display: flex;
  gap: 20px;
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  padding:10px;
}

.aside-page nav button:active{
  background: #0000001c;
}

.aside-page nav button .page-name{
  font-weight: 300;
}



/*CONTROL DE CAPAS*/
.sign-in-page {
  transform: translateX(0%);
}

.sign-up-page {
  transform: translateX(100%);
}